@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
   --color-bg:#E7EBF2;
   --color-bg-variant-1: #BFD6F4;
   --color-bg-variant-2: #d1e1f6;
   --color-text:#184A81;
   --color-text-variant:#2d67a4;
   --color-primary-variant: rgba(77,181,255,0.4);
}

html{
   scroll-behavior: smooth;
}

::-webkit-scrollbar{
   display:none;
}

body{
   font-family: "Poppins", sans-serif;
   line-height:1.7;
   font-weight:400;
}

h1,h2,h3,h4,h5{
   font-weight:600;
   color:var(--color-text);
}


a{
   color: var(--color-primary);
   transition: all 400ms ease;
}

a:hover{
   color:white;
}

codersrank-skills-chart {
   --legend-font-size: 12px;
   --chart-border-radius: 10px;
   --label-font-weight:300;
   --legend-font-size:12px;
   --legend-text-color: rgb(75, 74, 74);
 }

 #tsparticles{
   height:100% 
}